# Lecture 5 - Demo

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Tables Recap

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
# Labels

In [ ]:
# Columns

In [ ]:
# Rows

**Discussion Question** What is another way to find the number of rows in a table?

**Discussion Questions**:

Use the table functions to find the income bracket (“class”) with the ‘POOR’ status that spent the highest percentage of their income on food.

# Functions

## Defining Functions ##

Example: Create a function that takes a numerical input and triples it: $\textsf{triple}(x)=3\,x$

In [ ]:
def triple(x):
    return ...

We can also assign a value to a name, and call the function on the name:

In [ ]:
num = ...

## The Anatomy of a Function ##  
    
```python
def functionname(Arguments_Parameters_Expressions_or_Values):
      body
      return return_expression
```

## Functions are Type-Agnostic  ##

### Discussion ###

- What does the following function do?
- What type of input does it take?
- What type of output does it produce?
- What's a good name for the function?

```python
def f(s):     
      return np.round(s / sum(s) * 100, 2)
```

In [ ]:
def f(s):
    return np.round(s / sum(s) * 100, 2)

### Functions Can Take Multiple Arguments ###

Example: Calculate the Hypotenuse Length of a Right Triangle


Pythagoras's Theorem: If $x$ and $y$ denote the lengths of the right-angle sides, then the hypotenuse length $h$ satisfies:

$$ h^2 = x^2 + y^2 \qquad \text{which implies}\qquad \hspace{20 pt} h = \sqrt{ x^2 + y^2 } $$

In [ ]:
def hypotenuse(x, y):
    ...

We could've typed the body all in one line. Do you find this more readable or less readable than the original version?

In [ ]:
def hypotenuse(x,y):
    return ...

### Example: A function that takes the year of birth of a person and produces their age in years. ###

In [ ]:
def age(year):
    ...

Now add some bells and whistles:  Take person's name and year of birth (two arguments). Produce a sentence that states how old they are.

In [ ]:
def name_and_age(name, year):
    ...

### `print` vs `return` ###

- What is the difference between these two functions?

```python
def name_and_age_1(name, year):
    return name + ' is ' + str(age(year)) + ' years old.'
```

```python
def name_and_age_2(name, year):
    print(name + ' is ' + str(age(year)) + ' years old.')
```

In [ ]:
...

### Assignments in Functions

In [ ]:
def adding_numbers(a, b):
    first_number = a
    second_number = b
    return first_number + second_number

### (Optional) Readability

In [ ]:
def my_multiply(a, b):
    ...

In [ ]:
my_multiply?

In [ ]:
my_multiply()

## Apply ##

In [ ]:
ages = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
ages

In [ ]:
make_array(age(ages.column('Birth Year').item(0)),
           age(ages.column('Birth Year').item(1)),
           age(ages.column('Birth Year').item(2)),
           age(ages.column('Birth Year').item(3)))

In [ ]:
# Apply

**Multiple Columns**

In [ ]:
# Multiple Columns
#

In [ ]:
# Will Errror if we swap
#

## Row Objects