In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 6 ##

## Functions ##

**Discussion Question 1**: What are `x` and `y`?
```python
x = 5
def add_two(x):
    x = x + 5
    return x
y = add_two(x)

```

In [ ]:
...

**Discussion Question 2**: What are the inputs to this function? What are the outputs? What does the function below do?
```python
def mystery(a, b):
    length = a.num_rows
    return a.take(np.arange(1, length, 2))

```

In [ ]:
...

## Line Plots ##

In [ ]:
movies = Table.read_table('movies_by_year.csv')
movies

In [ ]:
# The call is
# t.plot(x_label, y_label)

movies.plot('Year', 'Number of Movies')

In [ ]:
century_21 = movies.where(...)
century_21.show()

In [ ]:
century_21.plot('Year', 'Total Gross')
#Fix the x-axis

In [ ]:
century_21.plot('Year', 'Total Gross')
# Fix X & Y-axis

## Scatter Plots ##

In [ ]:
actors = Table.read_table('actors.csv').select(0, 2, 1, 3, 4, 5)
actors

In [ ]:
actors.column('Total Gross') / actors.column('Number of Movies')

In [ ]:
# The call is
# t.scatter(x_label, y_label)

actors.scatter('Number of Movies', 'Total Gross')

In [ ]:
actors.where('Actor', 'Robert DeNiro')

In [ ]:
# Scatter the number movies vs average per movie
actors.scatter(...)

In [ ]:
actors.where(...)

## Bar Charts ##

In [ ]:
# Highest grossing movies as of 2017
top_movies = Table.read_table('top_movies_2017.csv')
top_movies

In [ ]:
# Convert gross amounts to millions of dollars for readability
millions = np.round(top_movies.column('Gross') / 1000000, 3)
millions_adjusted = np.round(top_movies.column('Gross (Adjusted)') / 1000000, 3)

In [ ]:
top_movies = top_movies.with_columns(
    'Millions', millions,
    'Millions (Adjusted)', millions_adjusted,
)
top_movies

In [ ]:
top10_adjusted = top_movies.take(np.arange(10))
top10_adjusted

In [ ]:
# The call is
# t.barh(categorical_variable, numerical_variable)

top10_adjusted.barh('Title', 'Millions (Adjusted)')

In [ ]:
# How many variables are used in this bar chart?
top10_adjusted.barh('Title', 'Millions')

In [ ]:
in_millions = top10_adjusted.select('Title', 'Millions', 'Millions (Adjusted)')
in_millions.barh('Title')

In [ ]:
# A line plot doesn't make sense here: don't do this!
top10_adjusted.plot('Year', 'Millions')

## Question on the Slides ##

**Exercise:** Generate the chart shown in the slides: a bar chart of age (# years since release) for the 10 highest grossing movies (non-adjusted).

In [ ]:
top10_gross = top_movies.sort('Gross', descending=True).take(np.arange(10))
top10_gross = top10_gross.with_columns('Age', 2022 - top_10_movies.column('Year'))
top10_gross.barh('Title', 'Age')