# Lecture 3 - Demo

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python Arithmetic ##

In [ ]:
# Basic arithmetic

In [ ]:
# Bound to rules

In [ ]:
# PEMDAS

In [ ]:
# Decimal numbers if we divide

In [ ]:
# Strings

In [ ]:
# Math with strings

## Names ##

In [ ]:
# Assigning variables

In [ ]:
# Doing math with variables

In [ ]:
# a + b = total

In [ ]:
# Reassigning a

In [ ]:
# Running a cell over again

In [ ]:
# Kernel & Running Cells

## Why names? ##

In [ ]:
# Option 1
...

On January 1, 2022, the CA Minimum Wage for Employers with 26 Employees or More increased to $15/hour. For instance, if we want to calculate `hours_per_year`, `weekly_wages`, `yearly_wages`

## Functions and Call Expressions ##

In [ ]:
# abs
...

In [ ]:
# abs of assignments/names
...

In [ ]:
# multiple arguments with min/max
...

In [ ]:
# round
...

In [ ]:
# A: SHIFT + TAB
...

In [ ]:
# B: Question Mark
...

In [ ]:
# ndigits argument
...

In [ ]:
# argument names
...

In [ ]:
# does not live outside of it
...

In [ ]:
# wrong name
...

In [ ]:
# sqrt
...

In [ ]:
# import math

## Tables ##

In [ ]:
from datascience import *

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
# Show
...

In [ ]:
# Show and assigning
...

In [ ]:
# Selecting one column
...

In [ ]:
# Selecting multiple columns
...

In [ ]:
# Flavor vs 'Flavor'
...

# Why is this happening?

In [ ]:
# Instead of selecting, we can also drop
...

In [ ]:
# Filtering values
...

In [ ]:
# Sorting
...

In [ ]:
# Sorting the other way ?
...

In [ ]:
# Sorting also works on strings!
...

## More interesting tables ##

In [ ]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

**Discussion question**: Create a table of just the point guards in the 2020 season?

In [ ]:
# START Discussion Question #
...
# END Discussion Question #

In [ ]:
# Dropping one column
...

In [ ]:
# Dropping multiple columns
...

In [ ]:
# Sorting salaries
...

In [ ]:
# Only showing 10
...

In [ ]:
# Caution - What if we run this cell?
# nba.drop('POSITION').where('POSITION', 'PG')