In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

import pdb

## Warmup ##

In [3]:
lead_TAs = make_array('Oscar', 'Padma', 'Prasann', 'Emily', 'Josh')

counter = 0
for ta in lead_TAs:
    print(f"{ta} is item {counter} in the array")
    counter = counter + 1 # Equivalent to `counter += 1`

Oscar is item 0 in the array
Padma is item 1 in the array
Prasann is item 2 in the array
Emily is item 3 in the array
Josh is item 4 in the array

In [4]:
for _ in np.arange(6):
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello

### What does this line of  code do? ###

In [5]:
def starts_with_P(x):
    """
    Checks whether a string x starts with P or not
    Input:
        x (str)
    Output:
        bool
    """
    return are.containing('P')(x)

In [6]:
array_1 = make_array()
count = 0

for ta in lead_TAs:
    if starts_with_P(ta):
        array_1 = np.append(array_1, ta)
    count += 1

In [7]:
np.sum(are.containing('P')(lead_TAs))

0

# Lecture 9a #

## Grouping by One Column ##

In [8]:
cones = Table.read_table('cones.csv')

In [9]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [10]:
# Group by Flavor
cones.group('Flavor')

Flavor     | count
bubblegum  | 1
chocolate  | 3
strawberry | 2

In [17]:
np.unique(flavors)

array(['bubblegum', 'chocolate', 'strawberry'], dtype='<U10')

In [18]:
flavors = cones.column('Flavor')
counts = make_array()
for flavor in np.unique(flavors):
    number = np.sum(cones.column('Flavor') == flavor)
    counts = np.append(counts, number)
Table().with_columns("Flavor", np.unique(flavors),
                  "count", counts)

Flavor     | count
bubblegum  | 1
chocolate  | 3
strawberry | 2

In [ ]:
# Averages

In [19]:
# Min

## Lists

In [ ]:
# Lists can have multiple types

In [ ]:
# Lists of arrays

In [ ]:
# Lists of lists

In [21]:
# You can create tables using lists
list_table = Table().with_column('Number', [1,2,3])
list_table

Number
1
2
3

In [23]:
# Here comes trouble; what is the type?
list_table2 = Table().with_column('Number', [1,'hello',3])
list_table2

Number
1
hello
3

In [27]:
# Create whole tables!

list_table3 = Table(['Flavor', 'Count']).with_rows([
    ['bubblegum', 1],
    ['chocolate', 3],
    ['strawberry', 2]
])
list_table3

Flavor     | Count
bubblegum  | 1
chocolate  | 3
strawberry | 2

## Grouping By One Column: Welcome Survey ##

In [29]:
survey = Table.read_table('welcome_survey_su22.csv')
survey = survey.where('Handedness', are.containing('t-handed'))
survey = survey.where('Handedness', are.not_containing(' handed'))

In [35]:
# average extraversion levels?
by_extra = ...
by_extra

Ellipsis

In [37]:
# Let's plot it extraversion vs number of textees p average?

In [36]:
# Plots

In [39]:
# Deep Dive

## Grouping by Two Columns ##

    Do right-handed people tend to sleep on their left side and left-handed people sleep on their right?

In [41]:
...

Ellipsis

## Pivot Tables

In [42]:
...

Ellipsis

In [43]:
...

Ellipsis

In [45]:
...

Ellipsis

## Group vs Pivot

Need help with group vs pivot?  Try [our visualizer](http://data8.org/interactive_table_functions/).

# Lecture 9b #

## Intro to Join ##

In [46]:
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

Drink    | Cafe   | Price
Milk Tea | Asha   | 5.5
Espresso | Strada | 1.75
Latte    | Strada | 3.25
Espresso | FSM    | 2

In [47]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

Coupon % off | Location
10           | Asha
25           | Strada
5            | Asha

In [52]:
# Combining tables
...

In [51]:
# Calculating discounted prices

## The Result is Sorted ##

In [53]:
drinks2 = Table(['Drink', 'Cafe', 'Price'])
drinks2 = drinks2.with_rows([
    ['Latte',    'Strada',  3.25],
    ['Espresso', 'Strada',  1.75],
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', "FSM",   2]
])
drinks2

Drink    | Cafe   | Price
Latte    | Strada | 3.25
Espresso | Strada | 1.75
Milk Tea | Asha   | 5.5
Espresso | FSM    | 2

In [54]:
discounts

Coupon % off | Location
10           | Asha
25           | Strada
5            | Asha

In [55]:
drinks2.join('Cafe', discounts, 'Location')

Cafe   | Drink    | Price | Coupon % off
Asha   | Milk Tea | 5.5   | 10
Asha   | Milk Tea | 5.5   | 5
Strada | Latte    | 3.25  | 25
Strada | Espresso | 1.75  | 25

## Notes on Column Names ##

In [56]:
drinks

Drink    | Cafe   | Price
Milk Tea | Asha   | 5.5
Espresso | Strada | 1.75
Latte    | Strada | 3.25
Espresso | FSM    | 2

In [57]:
drinks_new = Table().with_columns(
    'Drink', make_array('Tea', 'Coffee', 'Coffee'),
    'Cafe', make_array('Asha', 'FSM', 'Strada')
)
drinks_new

Drink  | Cafe
Tea    | Asha
Coffee | FSM
Coffee | Strada

In [61]:
# 'Drink' column of drinks_new is relabeled Drink_2

...

Ellipsis

In [62]:
# If you don't specify a column label in the second table,
# join looks for a column with the same label 
# as specified in the first argument

...

Ellipsis

## Another Join Example ##

In [63]:
full = Table.read_table('nc-est2019-agesex-res.csv')
census = full.select('SEX', 'AGE', 'POPESTIMATE2019')
census

SEX  | AGE  | POPESTIMATE2019
0    | 0    | 3783052
0    | 1    | 3829599
0    | 2    | 3922044
0    | 3    | 3998665
0    | 4    | 4043323
0    | 5    | 4028281
0    | 6    | 4017227
0    | 7    | 4022319
0    | 8    | 4066194
0    | 9    | 4061874
... (296 rows omitted)

In [64]:
sex_codes = Table().with_columns(
    'SEX CODE', make_array(0, 1, 2),
    'CODE DEFINITION', make_array('All', 'Selected Male', 'Selected Female')
)
sex_codes

SEX CODE | CODE DEFINITION
0        | All
1        | Selected Male
2        | Selected Female

In [65]:
sex_codes.join('SEX CODE', census, 'SEX').show()

## Bike Sharing ##

In [ ]:
trip = Table.read_table('trip.csv')
trip

## Distribution of Durations ##

In [67]:
# Visualizing durations
...

In [72]:
commute = trip.where('Duration', are.below(1800))

NameError: name 'trip' is not defined

## Start and End Stations ##

In [71]:
# Most common start station

starts = commute.group('Start Station').sort('count', descending=True)
starts

NameError: name 'commute' is not defined

In [ ]:
# Numbers of trips between stations x & y-axis

In [73]:
# Average durations of trips between stations - collect average times

...

Ellipsis

## Fastest Trips between Stations ##

In [ ]:
duration = trip.select('Start Station', 'End Station', 'Duration')
duration

In [ ]:
# Durations of fastest trips between stations,
# using group

shortest = ...
shortest

In [ ]:
# Duration of fastest trip between stations,
# using pivot

In [ ]:
# Shortest trips from Civic Center
from_cc = shortest.where(
    'Start Station', are.containing('Civic Center BART')).sort(
    'Duration min')
from_cc

## Maps ##

In [ ]:
# Geographical data on the stations
stations = Table.read_table('station.csv').drop(4, 6)
stations

In [ ]:
sf_stations = stations.where('landmark', are.equal_to('San Francisco'))
sf_stations_map_data = sf_stations.select(
    'lat', 'long', 'name').relabeled(
    'name', 'labels'
)
sf_stations_map_data.show(3)

In [ ]:
Marker.map_table(sf_stations_map_data)

In [ ]:
Circle.map_table(sf_stations_map_data)

In [ ]:
starts = commute.group('Start Station').sort('count', descending=True)
starts.show(3)

In [ ]:
stations.show(3)

In [ ]:
station_starts = stations.join('name', starts, 'Start Station')
station_starts.show(3)

In [ ]:
sf_starts = station_starts.relabeled(
    'name', 'labels').where('landmark', 'San Francisco')

In [ ]:
sf_starts_map_data = sf_starts.select('lat', 'long', 'labels').with_columns(
    'colors', 'blue',
    'areas', sf_starts.column('count')
)
sf_starts_map_data.show(3)

In [ ]:
Circle.map_table(sf_starts_map_data)