In [ ]:
# Just run this cell
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Load in the nba table
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')

In [ ]:
nba

## Numbers ##

In [ ]:
30

In [ ]:
10 * 3 # int

In [ ]:
10 / 3 # floats

In [ ]:
10 / 2

In [ ]:
10 + 2.0

In [ ]:
10 ** 2

In [ ]:
100 ** 0.5

In [ ]:
123456 ** 789

In [ ]:
7568395.23847298375543285732 - 7568395.238472983755

In [ ]:
(13 ** 0.5) ** 2

In [ ]:
int(10 / 5)

In [ ]:
int(10 / 6)

In [ ]:
int(1.99999)

In [ ]:
6 / 400

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000000000000000 * 1.5e-68

In [ ]:
x = 5

In [ ]:
5e306 * 100

## Strings ##

In [ ]:
'Flavor'

In [ ]:
Flavor

In [ ]:
"Flavor"

In [ ]:
'Don't always use single quotes'

In [ ]:
"Don't always use single quotes" # Ask - what would you do if you wanted a double quote?

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'Chris' + 'Paul' # spaces aren't added for you

In [ ]:
'Chris' + ' ' + 'Paul'

In [ ]:
'ha' * 100

In [ ]:
'lo' * 5.5

In [ ]:
'ha' + 10

In [ ]:
'ha' + str(10)

In [ ]:
int('3') + 10

In [ ]:
int('3')

In [ ]:
int('3.5')  # Discussion question - what will the below codes do?

In [ ]:
int('3.0')

In [ ]:
int(float('3.0'))

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(nba)

In [ ]:
type(True)

In [ ]:
abs(-5)

In [ ]:
type(abs)

def myfunc(x):
    return x

type(myfunc)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array + 1

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array # array is unchanged, just like when we call show/select/drop on Table

In [ ]:
another = make_array(5, 6, 7, 8)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
str_array = make_array('fee', 'fi', 'fo', 'fom')

In [ ]:
str_array

In [ ]:
str_array * 4

In [ ]:
str_array + '5'

In [ ]:
str_array1 = make_array('hi', 'there')
str_array2 = make_array('friend', '.')
str_array1 + str_array2

In [ ]:
# Getting items out of an array
yet_another

In [ ]:
yet_another.item(0)

In [ ]:
yet_another.item(1)

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array) / len(my_array)

In [ ]:
np.average(my_array)

## Columns of Tables are Arrays ##

In [ ]:
warriors = nba.where('TEAM', 'Golden State Warriors')
warriors

In [ ]:
warriors.select('SALARY')

In [ ]:
type(warriors.select('SALARY'))

In [ ]:
warriors.column('SALARY')

In [ ]:
warrior_average = np.average(warriors.column('SALARY'))
warrior_average

In [ ]:
celtics = nba.where("TEAM", "Boston Celtics")
celtic_average = np.average(celtics.column('SALARY'))

In [ ]:
warrior_average - celtic_average

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11) # stop before you get to the second one [...,...)

In [ ]:
np.arange(0, 22, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
southside = Table().with_column('Streets', streets) # need a label, and the data
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois.with_column('Food $', food_dollars)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_columns('Food $', food_dollars)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.labels

In [ ]:
du_bois.num_rows

In [ ]:
du_bois.num_columns